nav {
  width:960px;
  margin: 0 auto;

}

nav: before {
  content:'';
  display:block;
  height:50px;
  width:100%;
  background:red;
  position:absolute;
  left:0;
  z-index:-1;
}

ul {
  margin:0;
  padding:0;
  list-style:none;
  height:50px;
}

ul li {
  float:left;
}

ul li a{
  color:black;
  display:block;
  height:50px;
  padding:0 30px;
  text-transform:uppercase;
  text-decoration:none;
  line-height:50px;
}

ul li a:hover {
  background:#d34d43;
}


.block_1 p h1, .block_2 p h1, .block_3 p h1, .block_4 p h1, .block_5 p h1, .block_6 p h1{
  font-family: serif;
  font-weight: normal;
  font-size: 25px;
}
.block_1{
  border:2px black solid;
  border-radius:10px;
  margin:15px;
  padding:10px;
  max-width:300px;
  display: inline-block;
  background-color: bisque;
}

.block_2{
  border:2px black solid;
  border-radius:10px;
  margin:15px;
  padding:10px;
  max-width:300px;
  display: inline-block;
  background-color: bisque;
}

.block_3{
  border:2px black solid;
  border-radius:10px;
  margin:15px;
  padding:10px;
  max-width:300px;
  display: inline-block;
  background-color: bisque;
}

.block_4{
  border:2px black solid;
  border-radius:10px;
  margin:15px;
  padding:10px;
  max-width:300px;
  display: inline-block;
  background-color: bisque;
}

.block_5{
  border:2px black solid;
  border-radius:10px;
  margin:15px;
  padding:10px;
  max-width:300px;
  display: inline-block;
  background-color: bisque;
}

.block_6{
  border:2px black solid;
  border-radius:10px;
  margin:15px;
  padding:10px;
  max-width:300px;
  display: inline-block;
  background-color: bisque;
}
