.block_1 p h1, .block_2 p h1, .block_3 p h1, .block_4 p h1, .block_5 p h1, .block_6 p h1{
  font-family: serif;
  font-weight: normal;
  font-size: 25px;
}
.block_1{
  border:2px black solid;
  border-radius:10px;
  margin:15px;
  padding:10px;
  max-width:300px;
  display: inline-block;
  background-color: bisque;
}

.block_2{
  border:2px black solid;
  border-radius:10px;
  margin:15px;
  padding:10px;
  max-width:300px;
  display: inline-block;
  background-color: bisque;
}

.block_3{
  border:2px black solid;
  border-radius:10px;
  margin:15px;
  padding:10px;
  max-width:300px;
  display: inline-block;
  background-color: bisque;
}

.block_4{
  border:2px black solid;
  border-radius:10px;
  margin:15px;
  padding:10px;
  max-width:300px;
  display: inline-block;
  background-color: bisque;
}

.block_5{
  border:2px black solid;
  border-radius:10px;
  margin:15px;
  padding:10px;
  max-width:300px;
  display: inline-block;
  background-color: bisque;
}

.block_6{
  border:2px black solid;
  border-radius:10px;
  margin:15px;
  padding:10px;
  max-width:300px;
  display: inline-block;
  background-color: bisque;
}
